!!!
%html
  %head 
    %link(rel="stylesheet" href="css/custom.css")
  %body{:background => '/public/snow.jpg'}
    %p
    .button.center
      Facebook
    %a{:href => "http://www.facebook.com/ash.dua"} Facebook
    %p
    %a{:href => "http://www.linkedin.com/pub/ashish-dua/19/a6a/165"} LinkedIn
    %p
    %a{:href => "https://plus.google.com/111851797663558183985/"} Google Plus
